.clear {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: transparent;
  appearance: none;
  padding: 2px;
}
